<div class = "product-part" *ngFor = "let product of products">
    <!-- ID -->
    <span class = "product-span"> ID : </span>
    {{ product.id }}
    <br>
    <!-- Name --> 
    <span class = "product-span"> Name : </span>
    {{ product.name }}
    <br>
    <!-- Picture -->
    <span class = "product-span"> Picture : </span>
    {{ product.picture }}
    <br>
    <!-- Price -->
    <span class = "product-span"> Price : </span>
    {{ product.price }}
    <br>
    <!-- Amount -->
    <span class = "product-span"> Amount : </span>
    {{ product.amount }}
    <br>
    <!-- Rating -->
    <span class = "product-span"> Rating : </span>
    {{ product.rating }}
    <br>
    <!-- Description -->
    <span class = "product-span"> Description : </span>
    {{ product.description }}
</div>