<body>
	<div class = "container">
		<div class = "row page-header app-header">
			 The online shopping 
		</div>
		<!-- add part -->
		<div class = "row add-part">
			<h1 class = "add-header"> Add Products </h1>
			<hr class = "add-hr-line">
			<add></add>
		</div>
		<!-- show detail part -->
		<div class="row show-all-part">
			<h3 class = "show-all-header"> Show All The Information Of The Product </h3>
			<hr class = "show-all-hr-line">
			<showAll></showAll>
		</div>
		<!-- show list part -->
		<div class="row show-list-part">
			<h3 class = "show-list-header">  The list of all product in the system </h3>
			<hr class = "show-list-hr-line">
			<list></list>
		</div>
	</div>
</body>