.full-background-color {
  width: 100vw;
  height: 100vh;
  background-color: #00556b;
}
.container {
  font-family : "Magorian Regular";
}
.header {
  text-align: center;
  color: white;
}
.hr {
  width : 100%;
  align : center;
  size : 100px;
  color : #000000;
}

